<!-- your html code here -->
<div class="container bg-white p-1">
    <div class="row d-flex m-5">
        <div class="col-9">
                <h2>The First Heading <span class="text-muted">Will Catch Your Eye</span></h2> 
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-3">
            <img class="mt-2 rounded-circle" src="./assets/img/1.jpg" alt="Foto Heading" width="200">
        </div>
    </div>
</div>