<!-- your html code here -->
<header class="p-1 bg-dark text-white">
    <div class="container-fluid">
      <div class="row">
        <ul class="d-flex flex-wrap justify-content-start align-items-center nav col-sm-12 col-lg-12 me-lg-12 mb-md-0">
          <li><a href="#" class="nav-link px-2 fs-5 text-secondary">Start Bootstrap</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">About</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">Services</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">Portfolio</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>