<!-- your html code here -->
<!-- using cards -->
<div class="container bg-white">
  <hr class="featurette-divider mt-5 mb-5">
  <h1>Portfolio</h1>
  <p class ="portfolio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3">
  <div class="col">
    <div class="card border-0">
      <img src="https://picsum.photos/id/0/700/400">
      <div class="card-body ps-0">
        <h5 class= "card-title text-primary">Project name</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-0">
      <img src="https://picsum.photos/id/0/700/400">
      <div class="card-body ps-0">
        <h5 class= "card-title text-primary">Project name</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-0">
      <img src="https://picsum.photos/id/0/700/400">
      <div class="card-body ps-0">
        <h5 class= "card-title text-primary">Project name</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider mt-5 mb-5">
</div>
