<!-- your html code here -->
<div class="container bg-white p-1">
  <hr class="featurette-divider mt-5 mb-5">
    <div class="row g-0 mt-5 mb-5 d-flex aligns-item-end">
      <div class="col-6 col-sm-5 col-md-4 col-lg-3 text-end g-0">
        <img src="https://picsum.photos/id/8/200" class="mt-2 rounded-circle">
      </div>
      <div class="col-6 col-sm-7 col-md-8 col-lg-9">
        <h1 class="featurette-heading">The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <hr class="featurette-divider mt-5 mb-5">
</div>